body {
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	background-color:#f7f5f3;	
	margin:0px;
}
#wrapper {
	background-color:#FFFFFF;
	margin:auto;
}
#header {
	height:300px;
	text-align: center;
}
#header #imghead{
	width: 100%;
	height: 100%;
	background-image:url(../img/header5.jpg);
	background-size:cover;
	filter: blur(2px);
}
#header a {
	text-align: center;
	position: relative;
	bottom: 175px;
}
#header span {
color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 0px;
    background-color: #5d5d5dd6;
    padding: 8px 41px;
    border: solid 5px;
}
#menu {
	background-color: #929292;
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a, #header a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#linkcart a{
	width: 70px;
	padding: 5px !important;
}
#linkcart a img{
	width: 70%;
	display: inline-block;
}
#linkcart a span{
	width: 24%;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin-left: 6%;
}
#contenido {
	text-align: justify;
}
 #form {
	text-align : center;
	font-size: 13px;
}
 #form #formshoes {
	text-align: center;
}
#formshoes .bodyform input, #formshoes .bodyform textarea {
	width: 30%;
    border: #545454 2px solid;
    height: 25px;
    margin-top: 5px;
    resize: vertical;
    height: 32px;
}
#formshoes textarea {
    height: 50px;
}
#formshoes #buttonform {
	text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    width: 18%;
    background-color: #A1A0A0;
    border-radius: 6px;
    border: 2px solid #7E7E7E;
}
#footer {
	height: 150px;
    background-color: #4040408f;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#footer #idioma {
	width: 25%;
	text-align: center;
}
#footer #idioma span{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}
#footer #idioma button{
	background-color: #ffffff00;
	border: solid #ffffff00 1px;
	color: white;
}
.styerror {
    color: #ff0000;
    font-family: arial;
    font-size: 10pt;
    font-style:italic;
}
#container_home{
	text-align: center;
}
#container_home h1{
	margin-bottom: 30px;
	margin-top: 20px;
}
#container_home .brand_container{
	display: inline-block;

}
#container_home .brand_container .shoes_home{
	display: inline-block;
	width: 33%;
	overflow: hidden;
}
#container_home .brand_container .shoes_home .dum_img img{
	width: 100%;
	height: 100%;
}
#container_home .brand_container .shoes_home .dum_bra{
	position: relative;
    bottom: 60px;
}
#container_home .brand_container .shoes_home .dum_bra span {
    background: rgba(80, 80, 80, 0.85);
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 900;
}

#shoes_create a{
	background-color: gray;
    padding: 16px;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.75);
}
.shoes_container {
	border: 3px #6d6d6d solid;
    display: inline-block;
    text-align: center;
    width: 31%;
    margin: 1%;
    background-color: #505050ad;
    color: white;
    font-weight: bold;
}
.shoes_container .shoes_cref{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}
.shoes_container .shoes_info{
	display: inline-block;
	width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.shoes_container .shoes_buttons{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.shoes_container .shoes_buttons a{
	display: inline-block;
	width: 32%; 
	margin-left: 0.3%;
	margin-right: 0.3%; 
	background-color: gray;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    color: white;
    font-weight: bold;
}

.content_sn{
	border-bottom: solid #757575d4 3px;
	margin-top: 30px;
	padding-bottom: 30px; 
}
.content_sn#desc{
	text-align: center;
}
.content_sn#desc h2{
	margin:5px; 
}
.content_sn#desc div{
	display: inline-block;
	width: 80%;
}
.content_sn#desc div p{
	text-align: justify;
	font-size: 16px;
}
.content_sn#brands{
	text-align: center;
}
.content_sn#brands .container_img{
	display: inline-block;
	width: 12%;
	margin: 1%;
}
.content_sn#brands .container_img:hover{
	transform: scale(1.15);
	filter: blur(0.8px);
	transition: 0.75s;
}
.content_sn#brands .container_img img{
	width: 100%;
}
.content_sn#patroc h2{
	text-align: center;
}
.content_sn#patroc .container_pat{
	width: 45%;
	display: inline-block;
	margin: 1%;
}
.content_sn#patroc .container_pat .container_img{
	width: 35%;
	display: inline-block;
}
.content_sn#patroc .container_pat .container_desc{
	display: inline-block;
	vertical-align: top;
	width: 96%;
	font-size: 15px;
	margin-left: 2%;
	text-align: justify; 
}
.content_sn#patroc .container_pat .container_img img{
	width: 100%;
}
#formcontact .bodyform {
	display: inline-block;
	width: 70%;
	text-align: left;
	margin: 10px;
}
#formcontact input, #formcontact textarea {
	display: inline-block;
	width: 75%;
    border: #5f5f5f82 2px solid;
    height: 25px;
    margin-top: 5px;
    resize: vertical;
}
#formcontact textarea {
    height: 50px;
}
#formcontact label{
	font-size: 14px;
    color: #484848de;
    font-weight: bold;
}
#formcontact .formbutton{
	width: 75%;
}
#formcontact #buttoncontact{
	width: 20%;
	display: inline-block;
}

#content_serv{
	text-align: center;
}
#content_serv h2{
	margin: 30px;
}
#content_serv .tip_tarifa{
 	background: rgba(4, 0, 255, 0.77);
    width: 47%;
    display: inline-block;
    font-size: 15px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    border: solid 5px #989898;
}
#content_serv .tip_tarifa h3{
	text-align: center;
	color: white;
}
#content_serv .tip_tarifa hr{
	color: white;
	margin-bottom: 15px;
}
#content_serv .tip_tarifa p{
	margin: 8px;
    color: white;
}
#content_serv .tip_env{
	background: rgba(4, 0, 255, 0.77);
    width: 47%;
    display: inline-block;
    font-size: 15px;
    margin-right: 1%;
    margin-left: 1%;
    border: solid 5px #989898;
}
#content_serv .tip_env h3{
	text-align: center;
	color: white;
}
#content_serv .tip_env hr{
	color: white;
	margin-bottom: 15px;
}
#content_serv .tip_env p{
	margin: 8px;
    color: white;
}
#mapagoogle{
	margin: 30px;
}
#mapagoogle h1{
	margin: 30px;
}

#errorpage {
	text-align: center;
}
#errorpage img{
	width: 100%;
	margin-bottom: 20px;
}
#errorpage a{
    color: white;
    background-color: gray;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}

#cont_auto{
    margin-left: 9.5%;
    margin-right: 9.5%;
    width: 32%;
    display: inline-block;
    border: solid 1px #cccccc;
}
#cont_auto a{
    padding-top: 5px;
    padding-bottom: 5px;
}
#filterlist{
	display: inline-block;
	width: 100%;
}
#filterlist #list_filter{
	display: inline-block;
    width: 30%;
    border: solid 1px grey;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px 5px 5px 5px;
}
#filterlist #list_filter #list_header {
	display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 7px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
#list_filter #list_header #li_brand{
	display: inline-block;
	width: 42%;
}
#filterlist #list_header #li_model{
	display: inline-block;
	width: 54%;
}
#filterlist #list_content {
	display: inline-block;
	width: 100%;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
}
#filterlist #list_footer {
	display: inline-block;
	width: 100%;
    margin-top: 3px;
    margin-bottom: 6px;
}
#filterlist #list_footer #li_size{
	display: inline-block;
	width: 48%;
}
#filterlist #list_footer #li_price{
	display: inline-block;
	width: 48%;
}
#idioma{
	width: 45%;
}
#idioma span{
	display: inline-block;
    width: 100%;
    margin-bottom: 12px;
}
#idioma button{
    display: inline-block;
    width: 27%;
    margin-bottom: 12px;
    background-color: #7d7d7dc9;
    color: white;
    border-color: #65656561;
    border-radius: 3px;
    font-weight: bold;
}	

#flogreg div{
	display: inline-block;
	width: 49%;
}
#flogreg div input {
	margin-top: 15px;
}
#flogreg div label {
	margin-top: 10px;
	margin-bottom: 0px;
}
#flogreg #flogin{
	vertical-align: top;
}
#flogreg #fregister{
    border-left: 3px solid gray;
    padding-left: 50px;
}



#shownm #list_news{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
}
#shownm .header_news img{
	width: 100%;
}
#shownm p{
	margin: 0px;
}
#showne #list_news{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
}
#showne .header_news img{
	width: 100%;
}
#showne p{
	margin: 0px;
}

#list_products{
	display: inline-block;
	width: 100%;
}
#list_products #list_shop{
	display: inline-block;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    font-family: cursive;
    vertical-align: top;
}
#list_products #list_shop #cont_img img{
	border: solid 1px #80808061;
}
#list_products #list_shop #cont_img img{
	width: 100%;
}
#list_products #list_shop #list_header {
	display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 7px;
    margin-bottom: 3px;
}
#list_products #list_header #li_model{
	display: inline-block;
	width: 54%;
}
#list_products #list_content {
	display: inline-block;
	width: 100%;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
}
#list_products #list_footer {
	display: inline-block;
	width: 100%;
    margin-top: 3px;
    margin-bottom: 6px;
}
#list_products #list_footer #li_size{
	display: inline-block;
	width: 48%;
}
#list_products #list_footer #li_price{
	display: inline-block;
}


@media (max-width: 720px){
	#container_home .brand_container .shoes_home {
	    width: 48%;
	}
	#filterlist #list_filter {
	    width: 57%;
	}
	.shoes_container {
    	width: 48%;
	}
	.content_sn#brands .container_img {
  	  width: 24%;
	}

	.content_sn#patroc .container_pat {
    	width: 90%;
	}	
	.content_sn#patroc .container_pat .container_img {
    	width: 32%;
	}
	#contact #form {
		width: 100% !important;
	}
	#formcontact .formbutton {
   	 width: 100%;
	}
	#contact #googlemaps{
		width: 87% !important;
		text-align: center;
	}
	#contact #googlemaps h3 {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	#content_serv .tip_tarifa {
	    width: 80%;
        margin-top: 10px;
   		margin-bottom: 10px;
	}
	#content_serv .tip_tarifa hr {
   	 margin-top: 1rem;
	}
	#content_serv .tip_tarifa h3 {
    	margin-top: 1rem;
	}
	#content_serv .tip_env {
    	width: 80%;
        margin-top: 10px;
   		margin-bottom: 10px;
	}
	#content_serv .tip_env hr {
   	 margin-top: 1rem;
	}
	#content_serv .tip_env h3 {
    	margin-top: 1rem;
	}
	#idioma{
		width:65%;
	}
	#shown #list_news{
	    width: 49%;
	    margin: 0.5%;
	}

}
@media (max-width: 450px){
	#container_home #service{
		width: 250px;
	}
	#container_home .brand_container .shoes_home {
	    width: 70%;
	}
	.shoes_container {
    	width: 75%;
	}
	.content_sn#brands .container_img {
    	width: 37%;
   		margin: 3%;
	}
	#idioma{
		width:100%;
	}
	#idioma button {
    	width: 29%;
	}
	#flogreg div{
		display: inline-block;
		width: 90%;
	}
	#flogreg #fregister{
		margin-top: 40px;
    	border-left: none;
   	 	padding-left: 0px;
	}
	#shown #list_news{
	    width: 90%;
	    margin: 4%;
	}

}


